<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weather Predictor</title>
    <style>
      body {
        background-color: lightblue;
        color: black;
      }
    </style>
  </head>
  <body>
    <a href="{% url 'logout' %}">Logout, {{ name }}</a>
    <p>Message: {{ message|default_if_none:"---" }}</p>
    <h2>Upload Weather Data</h2>
    <form
      action="{% url 'upload' %}"
      method="post"
      enctype="multipart/form-data"
    >
      {% csrf_token %}
      <fieldset>
        <input type="file" name="data" required />
      </fieldset>
      <input type="submit" value="Upload" />
    </form>
    <h2>Current weather</h2>
    <form action="{% url 'predict' %}">
      {% csrf_token %}
      <fieldset>
        <select name="data" required>
          <option value="">Select Dataset</option>
          {% for data in datalist %}
          <option value="{{ data.id }}">{{ data.csvname }}</option>
          {% endfor %}
        </select>
        <select name="outlook" required>
          <option value="">Select Outlook</option>
          <option value="sunny">Sunny</option>
          <option value="overcast">Overcast</option>
          <option value="rainy">Rainy</option>
        </select>
        <select name="temp" required>
          <option value="">Select Temperature</option>
          <option value="high">High</option>
          <option value="mild">Mild</option>
          <option value="cool">Cool</option>
        </select>
        <select name="humidity" required>
          <option value="">Select Humidity</option>
          <option value="high">High</option>
          <option value="normal">Normal</option>
        </select>
        <select name="windy" required>
          <option value="">Select Windy</option>
          <option value="true">True</option>
          <option value="false">False</option>
        </select>
      </fieldset>
      <input type="submit" value="Predict Weather" />
    </form>
  </body>
</html>
